div {
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: aqua;
    position: relative;
    top: 50px;
    left: 20px;
    right: 2px;
    transform: translate(50px);
    transform: translate(50px, 50px);
    transform: rotate(180deg);
}

#box2 {

    border: 1px solid;
    height: 300px;
    width: 100px;
    background-color: aqua;
    animation: myslide;
    animation-duration: 5s;

}

@keyframes myslide {
    from {
        margin-left: 100%;
    }

    t0 {
        margin-left: 0%;
    }
}